.hero {
    color: #fff;
    background:
        linear-gradient(to right,
            rgba(#000, 0.9),
            rgba(#000, 0.3)), url('./../img/hero-bg.jpg') center top;
    height: 70vh;
    background-size: cover;
    opacity: 0.88;


    &-text {
        // @include position-center;
        // top: 36%;
        font-size: 2.5rem;
        font-weight: 600;
        border-bottom: 2px solid rgba(128, 128, 128, 0.497);
        padding-bottom: 20px;

        span {
            color: $primary-color;
        }
    }

    &-sub-text {
        // @include position-center;
        // top: 54%;
        // min-width: 800px;
    }
}