.hero {
  color: #fff;
  background: linear-gradient(to right, rgba(#000, 0.9), rgba(#000, 0.7)),
    url("./../img/hero-bg.jpg") center top;
  height: 70vh;
  background-size: cover;
  opacity: 0.88;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  &-text {
    // @include position-center;
    // top: 36%;
    font-size: 2.5rem;
    font-weight: 600;
    border-bottom: 2px solid rgba(128, 128, 128, 0.497);
    padding-bottom: 20px;

    span {
      color: $primary-color;
    }
  }

  &-sub-text {
    margin-top: 1rem;
    max-width: 80vw;
  }

  &-btn {
    display: flex;
    margin-top: 2rem;

    button {
      border: 1px solid $secondary-color;
      padding: 11px 21px;
      background-color: transparent;
      color: $secondary-color;
      border-radius: 7px;
      margin: 0px 5px;

      &:hover {
        cursor: pointer;
        background-color: $secondary-color;
        color: #000;
        @include transition-ease;
      }
    }

    &__text {
      font-size: 0.7rem;
      font-weight: 500;
      display: flex;
      align-items: center;
      margin: 0px 5px;

      svg {
        fill: #fff;
      }
    }
  }
}
